*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


body {
    margin:0;
    background-color:#efefef;

}

.container {
    margin: 0 auto;
    width: 90%;
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
/* Header */
header {
    background-color: #ffff;
    padding:12px 0;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.2);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
     display: flex;
     list-style-type: none;
     align-items: center;
     gap: 16px;
     
}


/* overview */
.overview {
    padding: 24px 0;
}
.overview .container {
    display:flex;
    flex-wrap:wrap;
    gap:24px;

}

/* stat */
.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width:calc(50% - 12px);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.2);
    transition-duration:0.3s ;

}

.stat.active {
    background-color: rgb(175, 255, 155);
}

.stat .name {
    font-weight: 300;
    text-transform: uppercase;
}

.stat .value {
    font-size: 24px;
    font-weight: 300;
    
}

/* table */
.data-table {
    padding: 24px 0;

}

.table-cont table {
    border-collapse:collapse;
    width: 100%;

}


table caption {
    margin-bottom: 20px;

}
th, td {
    padding: 12px 16px;
    border: 2px solid black;
    text-align: left;
    white-space: nowrap;
    
}

